.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 30px;
  background-color: #00aa55;
}

.nav-links {
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  gap: 20px; 
}

.nav-link-items {
  font-family: Georgia, serif;
}